@import url('https://fonts.googleapis.com/css2?family=Pacifico&family=Work+Sans:wght@300;400;600&display=swap');

.reMindNavbar
{
    background-color: #25364B;
}

.reMindBrand
{
    font-family: 'Pacifico', cursive;
    font-weight: 600;
    color: rgb(146, 146, 146);
}
.reMindBodyText
{
    font-family: 'Work Sans', sans-serif;
    font-weight: 300;
}

.reMindInteractable
{
    font-family: 'Work Sans', sans-serif;
    font-weight: 400;
}

.remindNavLink
{
    color: rgb(168, 168, 168);
}

.reMindActiveNavLink
{
    color: rgb(129, 129, 129);
}

.reMindSignOutLink
{
    margin-left:auto;
}

.reMindHomeTiles
{
    outline: 1px solid rgb(230, 230, 230);
    background-color: white;
    align-self: flex-start;
}

.remindHomeTiles:hover
{
    background-color: rgb(230, 230, 230);
}

.signInContainer{
    height: 100vh;
}

.signInImageContainer
{
    --bs-gutter-x: 0;
    height: 100vh;
}

.signInBody
{
    background-color: #25364b;
}

.formLabel
{
    color: rgb(168,168,168);
}

.reMindFormTiles
{
    background-color: white;
    border-radius: 10px;
}

.formListItem
{
    padding-left: 0px;
    padding-right: 0px;
}

.listItemRow
{
    display: flex;
    flex-direction: row;
}

.buttonContainer
{
    display: flex;
    justify-content: center;
}

.signInNav
{
    height:35vh;
    padding-top:0.5rem;
}

.alignTextEnd
{
    text-align: end;
}

.homePageAndListHeader
{
    text-align: center;
    font-family: 'Work Sans', sans-serif;
    font-weight: 600;
}

.reMindPage
{
    background-color: rgb(230, 230, 230);
}

.reMindPanel
{
    background-color: rgb(230, 230, 230);
    border-radius: 100px;
}

.reMindLinks
{
    color: black;
}

.reMindLinks:hover
{
    color: rgb(129, 129, 129);
    background-color: rgb(220, 220, 220);
}

.centerText 
{
    text-align: center;   
}

.listItemUL
{
    margin-bottom: 0;
}

.tileLink
{
    color: black;
    text-decoration: none;
}

.tileLink:hover{
    color: black;
    
}

.addButton
{
    padding-right: 0;
}

.bootstrapIcon
{
    font-size: 15pt;
    align-self: center;
}

.bootstrapIcon:hover{
    cursor: pointer;
}

.parallax {
    /* The image used */
    background-image: url("photo-1536098561742-ca998e48cbcc.avif");
  
    /* Set a specific height */
    min-height: 500px;
  
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.addListItemLink
{
    display: inline-block;
    text-decoration: underline;
}

.addListItemLink:hover
{
    cursor: pointer
}

.redButton
{
    background-color: #A63D31;
    border-color: #922F2B;
}

.editViewItemRow
{
    padding-left: 0;
    padding-right: 0;
    align-items: center;
}

.editViewItemInputReadonly
{
    background-color: white!important;
    border: none;
}

.editViewItemInputReadonly:hover
{
    cursor: default;
}

.editViewItemInputReadonly:focus
{
    outline: none;
    box-shadow: none;
}

.finishIcon
{
    font-size: 19pt;
}

.checkedItem
{
    text-decoration: line-through;
}

.datePicker,.timePicker
{
    width: 25%;
}

.frequencySelect
{
    width: 20%;
}

#signInButton
{
    width: 100%;
}

#addListButton
{
    width: 15%;
}

#reminderDescription
{
    width:100%;
    height: 10rem;
}

#frequencySelectLabel, #timePickerLabel, #datePickerLabel
{
    align-self: center;
}

@media (max-width: 991.98px)
{
    .signInImageContainer
    {
        display: none;
    }
}